streamlit>=1.35.0
pandas>=2.2.2
requests>=2.31.0
yfinance>=0.2.37
python-dotenv==1.0.1
nltk>=3.8.1
scikit-learn>=1.4.2
fastapi>=0.100.0
uvicorn>=0.22.0
pydantic>=2.0.0
plotly>=5.15.0
torch>=2.0.0
transformers>=4.30.0
sentence-transformers>=2.2.2
langchain==0.3.25
langchain-community==0.3.24
langchain-google-genai==2.1.4
langgraph==0.4.8
faiss-cpu==1.11.0
sentence-transformers==3.4.1
pypdf==5.5.0
ragas==0.2.14